<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/yin.css"
          th:href="@{css/yin.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="jumbotron">

</div>
<div class="container col-sm-9">
    <div th:fragment="header">
        <div class="row text-center">
            <div class="">
                <h2>Spring Boot YinFile System</h2>

            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/files}">Files</a></li>
                        <li><a href="#" th:href="@{/new}">Upload a file</a></li>
                        <li><a href="#" th:href="@{/search}">Search</a></li>
                    </ul>

                </div>
            </div>
        </nav>


    </div>
</div>
</body>
</html>