<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>File to be uploaded</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container col-sm-9">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

        <form class="form-horizontal"  method="post" enctype="multipart/form-data" action="/new">
            <div class="form-group">
                <label class="col-sm-2 control-label">File:</label>
                <div class="col-sm-10">
                    <input type="file" name="file"/>
                </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">Owner:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name"/>
            </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email"/>
                </div>
            </div>
            <div class="col-sm-3 control-label">
                <input type='submit' value="Upload" />
                <a href="/files">Get List Files</a>
            </div>
        </form>
    <div>
        <div class="col-sm-2 " th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
    </div>
</div>


</body>
</html>